body, html {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

header {
    flex-shrink: 0;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    flex-shrink: 0;
    background-color: #f8f9fa;
    padding: 10px 0;
    text-align: center;
}

.header-image {
    height: 50vh;
    background-size: cover;
    background-position: center;
}

.header-title {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
}

.img-thumbnail {
    max-height: 30vh;
}

.content-wrapper {
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 1200px;
    margin: 20px;
}
