body {
    font-family: "Times New Roman", sans-serif;
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 48px 0 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
    background-color:#333333 ;
    color: #333333;
}

.sidebar-sticky {
    position: relative;
    top: 48px;
    height: calc(100% - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto;
}

.sidebar .nav-link {
    font-weight: 500;
    color: #333;
}

.sidebar .nav-link:hover,
.sidebar .nav-link.active {
    color: #00ff90;
}

.sidebar .nav-link i {
    margin-right: 8px;
}

.sidebar .nav-item.active {
    font-weight: 700;
}

.main-content {
    margin-top: 64px;
}

@media (max-width: 767.98px) {
    .sidebar {
        padding-top: 112px;
    }
    .main-content {
        margin-top: 160px;
    }
}
 .custom-sidebar {
     position: fixed;
     top: 0;
     left: 0;
     width: 200px;
     height: 100%;
     background-color: #333; /* Dark background color */
     z-index: 1000; /* Ensure it's on top of other content */
     overflow-y: auto; /* Enable vertical scrolling if needed */
     padding-top: 60px; /* Add padding to avoid covering content */
 }

.custom-sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.custom-sidebar li {
    padding: 8px 16px;
    color: #fff; /* White text color */
}

.custom-sidebar a {
    text-decoration: none;
    color: #fff; /* White text color */
}

.custom-sidebar a:hover {
    color: #007bff; /* Change color on hover */
}

.main-content {
    margin-left: 220px; /* Adjust margin to accommodate sidebar */
    padding-left: 20px; /* Add padding to avoid covering content */
}
