@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600&family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Cardo:400i|Rubik:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

:root {
  /* --primary-color: #0a1e27; */
  --primary-color: #03426c;
  --secondary-color: #e9c675;
  --text-light: #cbd5e1;
  --white: #ffffff;
  --max-width: 1200px;
  --header-font: "Playfair Display", serif;

  /* cards hover */
  --d: 700ms;
  --e: cubic-bezier(0.19, 1, 0.22, 1);
  --font-sans: "Rubik", sans-serif;
  --font-serif: "Cardo", serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--primary-color);
  /* background-image: linear-gradient(to right, #CFB8FF, #FFC8E8, #FEE8AF); */
}

.section__container {
  max-width: var(--max-width);
  margin: auto;
  padding: 5rem 1rem;
}

.section__subheader {
  position: relative;
  isolation: isolate;
  margin-bottom: 1rem;
  padding-left: 5rem;
  font-size: 0.9rem;
  font-weight: 600;
  letter-spacing: 2px;
  color: var(--secondary-color);
}

.section__subheader::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 2px;
  width: 4rem;
  background-color: var(--secondary-color);
}

.section__subheader::after {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-60%, -50%);
  font-size: 8rem;
  font-weight: 600;
  color: var(--white);
  opacity: 0.1;
  z-index: -1;
}

.section__header {
  margin-bottom: 1rem;
  font-size: 3rem;
  font-weight: 400;
  font-family: var(--header-font);
  color: var(--white);
}

.btn {
  padding: 0.75rem 1.5rem;
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1rem;
  color: var(--white);
  background-color: transparent;
  border-radius: 5px;
  transition: 0.3s;
  cursor: pointer;
}

.btn:hover {
  background-color: rgba(10, 30, 39, 0.5);
}

.logo a {
  font-size: 1.5rem;
  font-weight: 600;
  font-family: var(--header-font);
  color: var(--white);
}

img {
  display: flex;
  width: 100%;
}

a {
  text-decoration: none;
  transition: 0.3s;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}

.header {
  position: relative;
  height: 80px;
  background-image: radial-gradient(
      rgba(255, 255, 255, 0),
      var(--primary-color)
    ),
    url("../img/banner1.png");
  background-size: cover; /* Ensure the image covers the area without resizing */
  background-position: center; /* Center the image */
}

nav {
  position: relative;
  max-width: var(--max-width);
  margin: auto;
  padding: 1rem;
  z-index: 9;
}

.nav__bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__links {
  position: absolute;
  right: 1rem;
  top: 68px;
  width: calc(100% - 2rem);
  max-width: 550px;
  padding: 2rem;
  list-style: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  background-color: rgba(10, 30, 39, 0.8);
  border-radius: 10px;
  display: none;
}

.nav__links.open {
  display: flex;
  animation: show-nav 0.3s linear forwards;
}

.nav__links.close {
  animation: hide-nav 0.3s linear forwards;
}

@keyframes show-nav {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes hide-nav {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.nav__links a {
  font-weight: 500;
  color: var(--white);
}

.nav__links a:hover {
  color: var(--secondary-color);
}

.nav__menu__btn {
  font-size: 1.5rem;
  color: var(--white);
  cursor: pointer;
}

.nav__action__btn {
  display: none;
}

.header__container {
  position: relative;
  isolation: isolate;
  height: calc(100% - 75px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__content {
  max-width: 700px;
}

.header__content .section__header {
  font-size: 4rem;
  font-weight: 600;
  line-height: 5rem;
}

.header__content a {
  color: var(--white);
}

.header__content a:hover {
  color: var(--secondary-color);
}

.header__socials {
  position: absolute;
  left: 0;
  align-items: center;
  gap: 1rem;
  color: var(--white);
  transform: translateX(calc(-50% + 1rem)) rotate(90deg);
  display: none;
}

.header__socials a {
  font-size: 1.2rem;
  color: var(--white);
  transform: rotate(-90deg);
}

.header__socials a:hover {
  color: var(--secondary-color);
}

.about {
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0),
    var(--primary-color) 8rem
  );
  /* background-image: linear-gradient(to right, #CFB8FF, #FFC8E8, #FEE8AF); */
  overflow: hidden;
}

.about__container {
  padding-top: 0;
  display: grid;
  gap: 5rem 2rem;
  overflow: hidden;
}

.about__image img {
  max-width: 400px;
  margin-inline: auto;
  border-radius: 5px;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.4);
}

.about__content-1 .section__subheader::after {
  content: "HF";
}

.about__content-2 .section__subheader::after {
  content: "02";
}

.about__content-3 .section__subheader::after {
  content: "03";
}

.about__content p {
  margin-bottom: 1.5rem;
  color: var(--text-light);
}

.about__content a {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--secondary-color);
}

.about__content a span {
  transition: 0.3s;
}

.about__content a:hover span {
  transform: translateX(10px);
}

.footer {
  background-color: var(--primary-color);
}

.footer__container {
  display: grid;
  gap: 4rem 2rem;
}

.footer__col:first-child {
  max-width: 300px;
}

.footer__logo {
  margin-bottom: 1rem;
}

.footer__col p {
  color: var(--text-light);
}

.footer__col h4 {
  margin-bottom: 1rem;
  font-size: 1rem;
  font-weight: 600;
  color: var(--secondary-color);
}

.footer__links {
  list-style: none;
  display: grid;
  gap: 1rem;
}

.footer__links a {
  color: var(--text-light);
}

.footer__links a:hover {
  color: var(--secondary-color);
}

.footer__bar {
  padding: 1rem;
  font-size: 0.9rem;
  color: var(--text-light);
  text-align: center;
}

.countdown-container {
  width: 1000px; /* Set a fixed width */
  height: 60px; /* Set a fixed height */
  text-align: left; /* Center the timer text */
  font-size: 24px; /* Set a consistent font size */
  /* space under  */
  margin-bottom: 50px;
}

@media (width > 768px) {
  .nav__logo {
    flex: 1;
  }

  .nav__links {
    position: static;
    padding: 0;
    display: flex;
    flex-direction: row;
    background-color: transparent;
  }

  .nav__menu__btn {
    display: none;
  }

  .nav__action__btn {
    justify-content: flex-end;
    display: flex;
    flex: 1;
  }

  .header__container {
    height: calc(100% - 10rem);
  }

  .header__socials {
    display: flex;
  }

  .about__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 10rem 2rem;
  }

  .about__image-1 {
    grid-area: 1/2/2/3;
  }

  .about__image-3 {
    grid-area: 3/2/4/3;
  }

  .about__content {
    margin-left: 6rem;
  }

  .footer__container {
    grid-template-columns: 2fr 1fr 1fr;
  }
}

/* CARD HOVER */
.page-content {
  background-color: transparent;
  display: grid;
  grid-gap: 1rem;
  padding: 1rem;
  max-width: 1024px;
  margin: 0 auto;
  font-family: var(--font-sans);
}
@media (min-width: 600px) {
  .page-content {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 800px) {
  .page-content {
    grid-template-columns: repeat(4, 1fr);
  }
}
.css-card {
  position: relative;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  padding: 1rem;
  width: 100%;
  text-align: center;
  color: whitesmoke;
  background-color: whitesmoke;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1),
    0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1),
    0 16px 16px rgba(0, 0, 0, 0.1);
}
@media (min-width: 600px) {
  .css-card {
    height: 350px;
  }
}
.css-card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  background-size: cover;
  background-position: 0 0;
  transition: transform calc(var(--d) * 1.5) var(--e);
  pointer-events: none;
}
.css-card:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  pointer-events: none;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.009) 11.7%,
    rgba(0, 0, 0, 0.034) 22.1%,
    rgba(0, 0, 0, 0.072) 31.2%,
    rgba(0, 0, 0, 0.123) 39.4%,
    rgba(0, 0, 0, 0.182) 46.6%,
    rgba(0, 0, 0, 0.249) 53.1%,
    rgba(0, 0, 0, 0.32) 58.9%,
    rgba(0, 0, 0, 0.394) 64.3%,
    rgba(0, 0, 0, 0.468) 69.3%,
    rgba(0, 0, 0, 0.54) 74.1%,
    rgba(0, 0, 0, 0.607) 78.8%,
    rgba(0, 0, 0, 0.668) 83.6%,
    rgba(0, 0, 0, 0.721) 88.7%,
    rgba(0, 0, 0, 0.762) 94.1%,
    rgba(0, 0, 0, 0.79) 100%
  );
  transform: translateY(-50%);
  transition: transform calc(var(--d) * 2) var(--e);
}
.css-card:nth-child(1):before {
  background-image: url("../img/jazz.png");
}
.css-card:nth-child(2):before {
  background-image: url("../img/history.jpg");
}
.css-card:nth-child(3):before {
  background-image: url("../img/food.jpg");
}
.css-card:nth-child(4):before {
  background-image: url(https://images.unsplash.com/photo-1531306728370-e2ebd9d7bb99?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ);
}
.content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1rem;
  transition: transform var(--d) var(--e);
  z-index: 1;
}
.content > * + * {
  margin-top: 1rem;
}
.title {
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 1.2;
}
.copy {
  font-family: var(--font-serif);
  font-size: 1.125rem;
  font-style: italic;
  line-height: 1.35;
}
.btn-card-hover {
  cursor: pointer;
  margin-top: 1.5rem;
  padding: 0.75rem 1.5rem;
  font-size: 0.65rem;
  font-weight: bold;
  letter-spacing: 0.025rem;
  text-transform: uppercase;
  color: white;
  background-color: black;
  border: none;
}
.btn-card-hover:hover {
  background-color: #0d0d0d;
}
.btn-card-hover:focus {
  outline: 1px dashed yellow;
  outline-offset: 3px;
}
@media (hover: hover) and (min-width: 600px) {
  .css-card:after {
    transform: translateY(0);
  }
  .content {
    transform: translateY(calc(100% - 4.5rem));
  }
  .content > *:not(.title) {
    opacity: 0;
    transform: translateY(1rem);
    transition: transform var(--d) var(--e), opacity var(--d) var(--e);
  }
  .css-card:hover,
  .css-card:focus-within {
    align-items: center;
  }
  .css-card:hover:before,
  .css-card:focus-within:before {
    transform: translateY(-4%);
  }
  .css-card:hover:after,
  .css-card:focus-within:after {
    transform: translateY(-50%);
  }
  .css-card:hover .content,
  .css-card:focus-within .content {
    transform: translateY(0);
  }
  .css-card:hover .content > *:not(.title),
  .css-card:focus-within .content > *:not(.title) {
    opacity: 1;
    transform: translateY(0);
    transition-delay: calc(var(--d) / 8);
  }
  .css-card:focus-within:before,
  .css-card:focus-within:after,
  .css-card:focus-within .content,
  .css-card:focus-within .content > *:not(.title) {
    transition-duration: 0s;
  }
}

/* GLASSMORPHISM CARD */
.glass-card {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  width: 300px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Jazz schedule section */
.schedule {
  padding: 20px;
}

.section__container {
  max-width: 1200px;
  margin: 0 auto;
}

.schedule__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.schedule__card {
  width: 150px; /* Adjust as needed */
  height: 150px; /* Equal to width */
  background-color: #c5a5dd;
  border-radius: 8px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 15px;
}

.schedule__day {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.schedule__number {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
}

/* artists card */
.artists {
  padding: 20px;
  background-color: var(--primary-color);
}

.artist_section__container {
  max-width: 1200px;
  margin: 0 auto;
}

.artist__section__header {
  text-align: center;
  margin-bottom: 30px;
  color: #fff;
}

.artists__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.artist {
  width: 300px;
  margin: 20px;
  background-color: var(--primary);
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.artist img {
  width: 100%;
  border-radius: 8px;
}

.artist__name {
  margin-top: 10px;
  font-size: 1.5rem;
}

.artist__description {
  margin-top: 10px;
}

.btn-card-hover {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-card-hover:hover {
  background-color: #0056b3;
}

.btn-add-to-cart {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-add-to-cart:hover {
  background-color: #218838;
}

/* artist section */
/* Events Section */
.events {
  padding: 50px 0; /* Adjust spacing as needed */
}

.events .section__container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: left;
}

.events .section__header {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #333; /* Adjust color as needed */
}

/* Albums Section */
.albums {
  padding: 50px 0; /* Adjust spacing as needed */
}

.albums .section__container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: left;
}

.albums .section__header {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #333; /* Adjust color as needed */
}

.albums__container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.album__card {
  width: calc(50% - 20px); /* Adjust width and spacing as needed */
  margin-bottom: 40px; /* Adjust spacing as needed */
}

.album__card img {
  width: 100%;
  height: auto;
  border-radius: 8px; /* Add border radius for image */
}

/* single event card */
.event__card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 20px;
  color: white;
  width: 50%;
}

.event__name {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
  color: white;
}

.event__time,
.event__location,
.event__description,
.event__price {
  margin-bottom: 5px;
  color: #cbd5e1;
}

.event__price {
  font-weight: bold;
  color: #007bff; /* or any other color you prefer */
}

/* Start Checkout */
.payment-info {
  background: blue;
  padding: 10px;
  border-radius: 6px;
  color: #fff;
  font-weight: bold;
}

.product-details {
  padding: 10px;
}

body {
  background: #eee;
}

.cart {
  background: white;
}

.p-about {
  font-size: 12px;
}

.table-shadow {
  -webkit-box-shadow: 5px 5px 15px -2px rgba(0, 0, 0, 0.42);
  box-shadow: 5px 5px 15px -2px rgba(0, 0, 0, 0.42);
}

.type {
  font-weight: 400;
  font-size: 10px;
}

label.radio {
  cursor: pointer;
}

label.radio input {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  pointer-events: none;
}

label.radio span {
  padding: 1px 12px;
  border: 2px solid #ada9a9;
  display: inline-block;
  color: #8f37aa;
  border-radius: 3px;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 300;
}

label.radio input:checked + span {
  border-color: #fff;
  background-color: blue;
  color: #fff;
}

.credit-inputs {
  background: rgb(102, 102, 221);
  color: #fff !important;
  border-color: rgb(102, 102, 221);
}

.credit-inputs::placeholder {
  color: #fff;
  font-size: 13px;
}

.credit-card-label {
  font-size: 9px;
  font-weight: 300;
}

.form-control.credit-inputs:focus {
  background: rgb(102, 102, 221);
  border: rgb(102, 102, 221);
}

.line {
  border-bottom: 1px solid rgb(102, 102, 221);
}

.information span {
  font-size: 12px;
  font-weight: 500;
}

.information {
  margin-bottom: 5px;
}

.items {
  -webkit-box-shadow: 5px 5px 4px -1px rgba(0, 0, 0, 0.25);
  box-shadow: 5px 5px 4px -1px rgba(0, 0, 0, 0.08);
}

.spec {
  font-size: 11px;
}

.checkout_header {
  position: relative;
  height: 85px;
  background-image: radial-gradient(
      rgba(255, 255, 255, 0),
      var(--primary-color)
    ),
    url("../img/banner1.png");
}

/* End Checkout */

/* Start dance */
.dance_fullwidth {
  width: 100%;
}

.dance_smooth_scroll {
  scroll-behavior: smooth;
}

.dance_franklin_gothic {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.dance_padding_large {
  padding-left: 130px;
  padding-right: 130px;
  padding-top: 50px;
  background-color: #03426c; // influences artist card
}

.dance_header {
  font-size: 50px;
  font-weight: 1000;
  margin-bottom: 0px;
}

.dance_thick_hr {
  height: 3px;
}

.dance_flex_row {
  display: flex;
  flex-direction: row;
  -ms-flex-align: start;
}

.dance_justify_space_between {
  justify-content: space-between;
}

.dance_padding_vertical {
  padding-top: 30px;
  padding-bottom: 100px;
}

.dance_artist_thumbnail {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dance_thumbnail_size {
  width: 12vw;
  height: 300px;
}

.dance_thumbnail_button {
  padding: 0px;
  width: 100%;
  height: 100%;
  background: transparent;
  border: none !important;
}

.dance_thumbnail_image {
  height: 100%;
  width: 100%;
}

.dance_venue_height {
  height: 600px;
}

.dance_zero_height {
  height: 0px;
}

.dance_link_reset {
  text-decoration: none;
  color: black;
}

.dance_venue_container {
  width: 12vw;
  height: 300px;
}

.dance_expand_info_button {
  padding: 0px;
  width: 100%;
  height: 100%;
}

.dance_venue_image {
  padding: 0px;
  width: 100%;
  height: 100%;
}

.dance_info_padding {
  padding: 5px;
  padding-top: 0px;
}

.dance_info_text {
  font-size: 12px;
}

.dance_space_top {
  height: 60px;
}

.dance_schedule_flex {
  width: 100%;
  height: 1080px;
  display: flex;
  flex-direction: row;
  flex-align: start;
  justify-content: space-around;
}

.dance_schedule_column {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3%;
  width: 100%;
}

.dance_day_header {
  font-weight: 700;
  font-size: 96px;
  letter-spacing: 10px;
}

.dance_month_header {
  font-weight: 200;
  font-size: 60px;
  letter-spacing: 10px;
}

.dance_hr_90 {
  width: 90%;
  height: 5px;
}

.dance_schedule_item {
  display: flex;
  align-items: left;
  flex-direction: column;
  align-items: left;
  margin-top: 50px;
  width: 80%;
  justify-content: center;
}

.dance_event {
  margin-bottom: 10px;
  margin-top: 10px;
}

.dance_event_info {
  display: flex;
  margin-left: 3vw;
  flex-direction: row;
  align-items: top;
}

.dance_event_dot_container {
  width: 30px;
  height: 30px;
  margin-left: 15px;
  margin-right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dance_event_dot {
  background-color: black;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.dance_box_container {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /* min-height: 100vh; */
  min-width: auto;
  margin-bottom: 50px;
  background: transparent;
  font-family: sans-serif;
}
.dance_box {
  width: 1200px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 15px;
  margin: 0 auto;
}
.dance_artist_card {
  position: relative;
  width: 300px;
  height: 350px;
  background: #fff;
  margin: 0 auto;
  border-radius: 4px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}
.dance_artist_card:before,
.dance_artist_card:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background: #fff;
  transition: 0.5s;
  z-index: -1;
}
.dance_artist_card:hover:before {
  transform: rotate(20deg);
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
}
.dance_artist_card:hover:after {
  transform: rotate(10deg);
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
}
.dance_artist_card .dance_imgBx {
  position: absolute;
  top: 10px;
  left: 10px;
  bottom: 10px;
  right: 10px;
  background: #222;
  transition: 0.5s;
  z-index: 1;
}

.dance_artist_card:hover .dance_imgBx {
  bottom: 80px;
}

.dance_artist_card .dance_imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.dance_artist_card .dance_artist_details {
  position: absolute;
  left: 10px;
  right: 10px;
  bottom: 10px;
  height: 60px;
  text-align: center;
}

.dance_artist_card .dance_artist_details h2 {
  margin: 0;
  padding: 0;
  font-weight: 600;
  font-size: 20px;
  color: #777;
  text-transform: uppercase;
}

.dance_artist_card .dance_artist_details h2 span {
  font-weight: 500;
  font-size: 16px;
  color: #f38695;
  display: block;
  margin-top: 5px;
}

/* dance event */
.custom-max-height {
  max-height: 22em;
}

.custom-width {
  width: 550px;
}

.custom-height {
  height: 350px;
}

#featured-artists {
  background-color: #03426c;
}

#event-location {
  background-color: #03426c;
}

.history-bg {
  background-color: #03426c;
}